<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BioTechSysNistAlert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BioTechSysNistAlert.Properties.Settings.ConnectionString"
            connectionString="Integrated Security=True;Database=Biometrics;Server=QUICK-SILVER\SQLEXPRESS;Connect Timeout=30" />
    </connectionStrings>
    <userSettings>
        <BioTechSysNistAlert.Properties.Settings>
            <setting name="snsp_userName" serializeAs="String">
                <value>ansi_nist@biometrics-solutions.com</value>
            </setting>
            <setting name="snsp_popMail" serializeAs="String">
                <value>mail.biometrics-solutions.com</value>
            </setting>
            <setting name="snsp_password" serializeAs="String">
                <value>a12345678</value>
            </setting>
            <setting name="snsp_Pop3Port" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="MailTimer" serializeAs="String">
                <value>5000</value>
            </setting>
        </BioTechSysNistAlert.Properties.Settings>
    </userSettings>
</configuration>